.grocery {
  position: relative;
}

.grocery__add {
  font-size: 25px;
  border-radius: 50%;
  background-color: #0F0;
  color: #FFF;
  position:fixed;
  top: 100px;
  right: 100px;
  cursor: pointer;
}

.grocery__add:hover {
  transform: scale(1.05, 1.05);
}