.form__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.form__form-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.form__title {
  text-align: center;
  margin: 0 auto 10px;
}

.form__label {
  display: flex;
  gap: 4px;
}

.form__input {
  width: 100px;
  border-radius: 5px;
}

.form__checkboxes-bills {
  display: flex;
  gap: 20px;
}

.form__submit {
  font-size: 25px;
  border-radius: 5px;
  background-color: #0F0;
  color: #FFF;
  margin: 15px auto 0;
  cursor: pointer;
}

.form__submit:hover{
  transform: scale(1.03, 1.03);
  box-shadow: 1px 1px 5px rgb(0, 70, 0);
}